@font-face {
    font-family: "nickname";
    src: url('nickname.otf');
}

body{
	font-family:nickname, sans-serif;
	font-size:3em;
	background-image:url("../images/background.jpg");
}

.logo{
	margin: 1px;
}

#texte-logo{
	position: absolute;
    top: 72px;
    left: 101px;
    color: white;
    -ms-transform: rotate(-18deg); /* IE 9 */
    -webkit-transform: rotate(-18deg); /* Chrome, Safari, Opera */
    transform: rotate(-18deg);
    font-size: 36px;
    text-align: center;
}