@font-face {
    font-family: "nickname";
    src: url('nickname.otf');
}

body{
	font-family:nickname, sans-serif;
	font-size:4em;
	background-image:url("../images/background.jpg");
    color: white;
}

.logo{
	margin: 1px;
}

#texte-logo {
    position: absolute;
    top: 72px;
    left: 101px;
    color: white;
    -ms-transform: rotate(-18deg); /* IE 9 */
    -webkit-transform: rotate(-18deg); /* Chrome, Safari, Opera */
    transform: rotate(-18deg);
    font-size: 36px;
    text-align: center;
}

/* INDEX */
#section-accueil .container, #section-galerie .container {
    background-color: rgba(181, 39, 185, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
}
#gift{
    width: 500px;
}
.gift{
    width: 500px;
}
#description{
    font-size: 0.6em;
    width: 600px;
    text-align: left;
    margin-left: 50px;
}
#send_button{
    width: 300px;
    float: right;
}
#image_list{
    display: inline-flex;
    list-style-type: none;
}
.popular {
    height: 150px;
    border: 7px solid #fff;
    margin-left: 25px;

    list-style: none;

    -webkit-transform: scale(1);
    /* Browser Variations: */
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.popular:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* GALLERIE CSS */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
    margin-bottom:10px;
}

.title-photo{
	font-size: 16px;
    text-align: center;
    color:white;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


#title-brand{
	position: absolute;
    top: 45px;
    text-align: center;
    color: white;
    font-size: 32px;
    transform: rotate(-8deg);
    line-height: 30px;
}

span.navbar-brand {
    margin-right: 70px;
    position: relative;
    bottom: 29px;
}


/* FOOTER CSS */
.social:hover {
     -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
     -o-transform: scale(0.6);
 }
 .social {
     -webkit-transform: scale(0.5);
     /* Browser Variations: */
     -moz-transform: scale(0.5);
     -o-transform: scale(0.5);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .cgu a{
    color:white;
    text-decoration: none;
    font-size: 30px;

 }

 .copyright{
    font-size: 18px;
 }

  /* END FOOTER CSS */